project_files/*
project_files
doc/*
*.nc
src/*
CABLE_scripts
experiments/*.nc
experiments/phase_1/preston/*.nml
experiments/phase_1/preston/logs/*
experiments/phase_1/preston/met/*.nc
experiments/phase_1/preston/namelists/*
experiments/phase_1/preston/outputs/*
experiments/phase_1/preston/restarts/*
experiments/phase_1/preston/cable
experiments/phase_1/preston/ancillary_files/*
experiments/phase_1/preston/__pycache__/*
experiments/phase_1/preston/.DS_Store
experiments/phase_1/preston/new_sumbal
experiments/phase_1/AU-Preston/__pycache__/cable_utils.cpython-38.pyc
experiments/phase_1_albedo/AU-Preston/AU-Preston_sitedata_v1.csv

experiments/phase_1_albedo/preston/*.nml
experiments/phase_1_albedo/preston/logs/*
experiments/phase_1_albedo/preston/met/*.nc
experiments/phase_1_albedo/preston/namelists/*
experiments/phase_1_albedo/preston/outputs/*
experiments/phase_1_albedo/preston/restarts/*
experiments/phase_1_albedo/preston/cable
experiments/phase_1_albedo/preston/ancillary_files/*
experiments/phase_1_albedo/preston/__pycache__/*
experiments/phase_1_albedo/preston/.DS_Store
experiments/phase_1_albedo/preston/new_sumbal

experiments/phase_2/all_sites/*.nml
experiments/phase_2/all_sites/logs/*
experiments/phase_2/all_sites/met/*.nc
experiments/phase_2/all_sites/namelists/*
experiments/phase_2/all_sites/outputs/*
experiments/phase_2/all_sites/restarts/*
experiments/phase_2/all_sites/cable
experiments/phase_2/all_sites/ancillary_files/*
experiments/phase_2/all_sites/__pycache__/*
experiments/phase_2/all_sites/.DS_Store
experiments/phase_2/all_sites/new_sumbal

experiments/.DS_Store
.DS_Store
experiments/phase_1/AU-Preston/logs/*_log.txt
